.wrapper {
    border: 1px solid red;
    max-width: 600px;
    text-align: left;
    form {
        display: flex;
        flex-direction: column;
        align-items: start;
        input[name='code'] {
            font-size: 2rem;
        }
    }
}
